h2{
    margin: 20px 50px;

}

.app-container{
    margin: 20px 50px;
    // padding: 10px 20px;
}

.appHighlight{
    border: 10px solid gold;
    background-color: chocolate;
    color: white;
    padding:8px;
}

.appFont{
    font-family: 'Lucida Sans';
    font-size: 18px;
}