<app-filter 
    (selectedFilterRadioBtnChanged)="onFilterChanged($event)" 
    [all]="products.length" [inStock]="inStock"
    [outOfStock]="products.length - inStock">
</app-filter>
<div   class="container">
    <ng-container *ngFor="let product of newArray ; let i= index">
        <app-product *ngIf=" newSearchValue === '' || product.name.toLowerCase().includes(newSearchValue)" #productRefernceVar [productDetails]="product"></app-product>
    </ng-container>
</div>
<!-- *ngIf=" newSearchValue === '' || product.name.toLowerCase().includes(newSearchValue)" -->