<div class="page-header-topbar">
  <div class="page-header-secondary-msg">
    <ul class="social-icons">
      <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
      <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
      <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
      <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
    </ul>
  </div>
  <div class="page-header-secondary-nav">
    <a fragment="search"  routerLink="Home"  >SEARCH</a>
    <a fragment="courses" routerLink="Home"  >POPULAR</a>
    <a fragment="testimony" routerLink="Home"  >TESTIMONY</a>
    <a fragment="services" routerLink="Home"  >SERVICES</a>
    <a fragment="contact"  routerLink="Home" >CONTACT</a>
  </div>
</div>
<div class="page-header">
  <!--HOME HEADER-->
  <div class="page-header-logo">
    <h2>procademy</h2>
  </div>
  <div>
    <div class="page-header-secondary">

    </div>
    <div class="page-header-primary">
      <div class="page-header-primary-nav">
        <a routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="Home">HOME</a>
        <a routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="About">ABOUT</a>
        <a routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="Contact">CONTACT</a>
        <a routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="Courses">COURSES</a>
      </div>
      <div class="page-header-login-logout">
        <a  routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/Login">LOGIN</a>
        <a routerLink="/Login" [queryParams]="{logout:true}" >LOGOUT</a>
      </div>
    </div>

  </div>
</div>